$tema: oceano;
$primary-color: black;
$secondary-color: gray;

@if $tema == oceano {
  $primary-color: blue;
  $secondary-color: orange;
} @else if $tema == deserto {
  $primary-color: yellow;
  $secondary-color: purple;
}

p {
  color: $primary-color;
  background: $secondary-color;
}

@mixin device($device) {
  @if $device == mobile {
    @media (max-width: 300px) {
      @content;
    }
  } @else if $device == tablet {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $device == computer {
    @media (max-width: 900px) {
      @content;
    }
  }
}

div {
  width: 100%;
  @include device(tablet) {
    width: 80%;
  }
  @include device(mobile) {
    width: 60%;
  }
}

@mixin type-1($size) {
  font-family: monospace;
  font-weight: normal;
  @if $size == 16 {
    font-size: 1em;
  } @else if $size == 18 {
    font-size: 1.25em;
  } @else if $size == 24 {
    font-size: 1.5em;
  }
}

p {
  @include type-1(16);
}

@mixin title-large {
  font-size: 4em;
  line-height: 1;
  font-weight: bold;
  font-family: monospace;
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin separador($color: blue, $largura: 100px) {
  &::after {
    content: "";
    display: block;
    width: $largura;
    height: 4px;
    background: $color;
  }
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

$cor-primaria: blue;
$font-primaria: monospace;
$gutter: 60px;

section {
  max-width: 600px;
  margin: 0 auto;
  @include border-box;
}
.modal {
  @include box-shadow(
      10px 10px 0 0 rgba(0, 0, 0, 0.5),
      15px 15px 0 0 rgba(0, 0, 0, 0.5),
      20px 20px 0 0 rgba(0, 0, 0, 0.5)
    )
    h1 {
    color: $cor-primaria;
    font-family: $font-primaria;
    margin-bottom: $gutter;
    @include title-large;
    @include separador;
  }
  p {
    // font-size: 1.2em;
    @include type-1(24);
    line-height: 1.4;
    max-width: 400px;
    font-family: $font-primaria;
    @include mobile {
      font-size: 0.6em;
    }
  }
  a {
    display: block;
    max-width: 120px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background: blue;
    color: white;
    text-decoration: none; /* retira o sublinhado do link */
    text-transform: $font-primaria;
    font-family: $font-primaria;
  }
}

ul {
  text-align: center;
  li {
    display: inline-block; /* coloca a lista na horizontal */
    list-style: none;
    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      background: blue;
      color: white;
      &:hover {
        background: transparentize(#8844ee, 0.5);
        border-radius: 5px;
      }
    }
  }
}
